# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/.vscode
/dist
# testing
/coverage
/build/dll



# misc
.idea`
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
yarn-error.log*
yarn.lock
npm-debug.log*