.Admin {
  width: 100%;
  font-size: 12px;
}
.Admin_seace {
  margin-bottom: 10px;
}
.Admin_chat {
  margin-bottom: 10px;
}
.Admin_table {
  margin-top: 20px;
}
.articleView .title {
  text-align: center;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 40px;
}
.articleView .View {
  text-align: center;
}
