.roleConfig {
  width: 90%;
  min-width: 760px;
}
.roleConfig .search {
  float: left;
  width: 50%;
}
.roleConfig .creatRole {
  float: right;
}
.roleConfig .roleName {
  padding-top: 40px;
}
.roleConfig .example {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}
