.menuConfigItem{
    display: inline-block;
    width: 350px;
    &:hover{
      .action{
        display: inline-block;
      }
    }
    span {
      padding: 10px;
      font-size: 12px;
    }
    .action{
      float: right;
      color: @mainColor;
      display: none;
    }
    .actionType{
      margin-right: -19px;
    }
  }
  .addMenu{
      width: 100%;
      text-align: right;
      margin-bottom: 20px;
  }
  .menuConfig{
    width: 100%;
    position: relative;
    height: 270px;
    overflow-x: hidden;
    overflow-y: auto;
    // min-height: 480px;
  }
  .menuTree{
    width: 40%;
    position: relative;
  }
  .ant-form-item{
    display: flex;
  }
  .skin{
    min-height: 480px;
  }
  .ant-tree-title{
    line-height: 24px;
  }
  .tips{
    position: absolute;
    width: 340px;
    top: 25px;
    left: -10px;
    opacity: 0.6;
  }
  .menuConfigure {
    width: 100%;
    position: relative;
    height: 480px;
    overflow-x: hidden;
    overflow-y: auto;
}